body{
    background-color: lightblue;
}
header{
    text-align: center;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    display: inline;
    padding: 2rem;
    margin: 2rem;
}
li a {
    text-decoration: none;
    color:black ;
}
.about{
    padding: 6rem;
    margin: 2rem;
}
.about h1,h2{
    text-align: left;
}
.projects{
    padding: 0;
    margin: 0;
}
.projects h1{
    text-align: center;
}
.projects ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.projects ul li{
    padding: 2rem;
    margin: 2rem;
}